{% extends "dashboard.html" %}
{% block body %}
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"><b>ISTG</b></div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'planificacion' %}">Planificacion</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Editar Datos</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Presentaciones</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'versiones' %}">Versiones</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Perfil</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Estado</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                <!-- Logo -->
                {% load static %}
                <img src="{% static 'img/logo2.png' %}" style="max-width: 40%; height: auto;">
                <!-- Navbar Collapse Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="dashboard.html">Inicio</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuario</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!">Perfil</a>
                                <a class="dropdown-item" href="#!">Configuracion</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'login' %}">Cerrar Sesion</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis" href="{% url 'dashboard' %}">
                            <i class="material-icons">home</i>
                            <span class="visually-hidden"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis fw-semibold text-decoration-none"
                            href="{% url 'planificacion' %}">Planificacion</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Datos
                    </li>
                </ol>
            </nav>
            <div class="row align-items-md-stretch">
                <div class="col-md-6 w-100">
                    <div class="p-5 text-bg-dark rounded-3">
                        <h2 class="title" style="text-align: center;">Datos</h2><br>
                        <!--Carrera-->
                        <div class="select">
                            <label>Carrera</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>- - -</option>
                                <option value="1">Marketing</option>
                                <option value="2">Desarrollo de Software</option>
                                <option value="3">Diseño Grafico</option>
                                <option value="4">Impresion Offset</option>
                            </select>
                            <br>
                            <label>Periodo</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>- - -</option>
                                <option value="1">Primer</option>
                                <option value="2">Segundo</option>
                                <option value="3">Tercero</option>
                                <option value="4">Cuarto</option>
                                <option value="5">Quinto</option>
                            </select><br>
                            <label>Asignatura</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>- - -</option>
                                <option value="1">Primer</option>
                                <option value="2">Segundo</option>
                                <option value="3">Tercero</option>
                                <option value="4">Cuarto</option>
                                <option value="5">Quinto</option>
                            </select><br>
                            <label>Codigo</label>
                            <input type="text" class="form-control rounded-3" id="floatingInput" required
                                placeholder="Seleccione los campos anteriores" value="" disabled><br>
                            <label>Pre Requisitos</label>
                            <input type="text" class="form-control rounded-3" id="floatingInput" required
                                placeholder="Seleccione los campos anteriores" value="" disabled><br>
                            <label>Campo de formacion</label>
                            <input type="text" class="form-control rounded-3" id="floatingInput" required
                                placeholder="Seleccione los campos anteriores" value="" disabled><br>
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
