.boton-guayaquil{
    background-color:#274386;
    color:white;
    border:none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
.a {
    color: #fff;
    text-decoration: none;   
}


.texto-azul-oscuro{
    color:#274386;
}