{% extends "dashboard.html" %}
{% block content %}
<hr>
<div class="row align-items-md-stretch">
    <div class="d-flex" id="wrapper">
        <div class="container-fluid">
            <div class="row align-items-md-stretch">
                <div class="col-md-6 w-100">
                    <div class="p-5 text-bg-dark rounded-3">
                        <h2 class="title" style="text-align: center;">Controlador</h2><br>
                        <form method="post">
                            {% csrf_token %}
                            <label for="asignatura">Seleccione una asignatura:</label>
        <select class="form-select" name="asignatura" id="asignatura" ria-label="Default select example">
            <option selected>Selecione el periodo</option>
            {% for asignatura in asignaturas %}
                <option value="{{ asignatura.id }}">{{ asignatura.nombre_asignatura }}</option>
            {% endfor %}
        </select><br>
        <button class="btn btn-primary" type="submit">Seleccionar</button>
                        </form>
                        {% if msg %}
                        <div class="alert alert-success" role="alert">
                            {{ msg }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}