{% extends "dashboard.html" %}
{% block content %}
<div class="d-flex" id="wrapper">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis" href="{% url 'dashboard' %}">
                        <i class="material-icons">home</i>
                        <span class="visually-hidden"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'datosinfo' %}">Datos
                        Informativos</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Registrar
                </li>
            </ol>
        </nav>
        <div class="row align-items-md-stretch">
            <div class="col-md-6 w-100">
                <div class="p-5 text-bg-dark rounded-3 text-center">
                    <h1>Materias creadas</h1>
                    <table class="table accordion">
                        <thead>
                            <tr>
                                <th> Asignatura </th>
                                <th> Periodo </th>
                                <th> Pre-requisito Académico </th>
                                <th> APORTES TEÓRICOS, METODOLÓGICOS DE LA ASIGNATURA A LOS PROBLEMAS DE LA PROFESIÓN
                                </th>
                                <th> OBJETIVOS DE LA ASIGNATURA </th>
                                <th> Objetivos Específicos </th>
                                <th> APORTES AL PERFIL DE EGRESO DE LA CARRERA </th>
                                <th> Producto Académico </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asignatura in datosAsignatura %}
                            <tr>
                                <td>{{ asignatura.nombre_asignatura }}</td>
                                <td>{{ asignatura.periodo }}</td>
                                <td>{{ asignatura.prerequisito_academico }}</td>
                                <td>{{ asignatura.aportes_teoricos }}</td>
                                <td>{{ asignatura.objetivo_asignatura }}</td>
                                <td>{{ asignatura.objetivos_especificos }}</td>
                                <td>{{ asignatura.aportes_perfil_egreso }}</td>
                                <td>{{ asignatura.producto_academico }}</td>
                                <td>
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="eliminar" value="{{ asignatura.id }}">
                                        <button class="btn btn" type="submit">
                                            <i>
                                                <span class="material-icons">delete</span>
                                            </i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if msg %}
                    <div class="alert alert-success" role="alert">
                        {{ msg }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-md-stretch">
            <div class="col-md-6 w-100">
                <div class="p-5 text-bg-dark rounded-3">
                    <h2 class="title" style="text-align: center;">Datos Informativos</h2><br>
                    <!--Carrera-->
                    <form method="post">
                        {% csrf_token %}
                        <div class="select">
                            <label>Asignatura *</label>
                            <input type="text" class="form-control rounded-3" name="nombre_asig" id="floatingInput"
                                placeholder="Ingrese nombre de la asignatura" required><br>
                            <label>Periodo *</label>
                            <select class="form-select" name="periodo_asig" aria-label="Default select example">
                                <option selected>Selecione el periodo</option>
                                <option value="Primer">Primer</option>
                                <option value="Segundo">Segundo</option>
                                <option value="Tercero">Tercero</option>
                                <option value="Cuarto">Cuarto</option>
                                <option value="Quinto">Quinto</option>
                            </select><br>
                            <label>Pre-requisito Académico *</label>
                            <input type="text" class="form-control rounded-3" name="prerequisitos_acade"
                                id="floatingInput" placeholder="Ingrese el Pre-requisito Académico" required><br>
                            <label>APORTES TEÓRICOS, METODOLÓGICOS DE LA ASIGNATURA A LOS PROBLEMAS DE LA PROFESIÓN
                                *</label>
                            <textarea class="form-control rounded-3" name="aportes_teori" id="floatingInput"
                                placeholder="Ingrese objetivo de la asignatura" required rows="5">
• Identifica cada una de las funciones administrativas. 
• Aplica técnicas inferenciales e interpreta resultados de problemas planteados.
• Comparte recursos entre los equipos integrantes de una red.
• Aplica técnicas en seguridades de base de datos.
                            </textarea><br>
                            <label>OBJETIVOS DE LA ASIGNATURA*</label>
                            <textarea class="form-control rounded-3" name="objetivo_asig" id="floatingInput"
                                placeholder="Ingrese objetivo de la asignatura" required
                                rows="3">Desarrollar e implementar una guía de estudio para el estudiante de la carrera de desarrollo de software, que permita adquirir conocimientos y destrezas para la materia de programación visual, empleando tecnología python y mediante framework DJANGO.</textarea><br>
                            <label>Objetivos Específicos *</label>
                            <textarea class="form-control rounded-3" name="objetivos_especi" id="floatingInput"
                                placeholder="Ingrese objetivo de la asignatura" required rows="8">
• Comprender mediante los conceptos básicos del desarrollo de aplicaciones en ambiente visual las etiquetas empleadas en HTML5, así como aprender a elaborar formularios empleando la estructura HTML5 y django.
• Diseñar e implementar acertadamente el manejo de la administracion de DJANGO , Interfaz de Usuario, Modelo y URLS. 
Mediante el Modelo Vista Template de Django.
• Utilizar las sentencias CRUD desde ORM DJANGO.
• Comprender e implementar un reporte básico con ReportLab.
                            </textarea><br>
                            <label>APORTES AL PERFIL DE EGRESO DE LA CARRERA*</label>
                            <textarea class="form-control rounded-3" name="aportes_perfil" id="floatingInput"
                                placeholder="Ingrese objetivo de la asignatura" required rows="5">
• Identifica cada una de las funciones administrativas.
• Aplica técnicas inferenciales e interpreta resultados de problemas planteados.
• Comparte recursos entre los equipos integrantes de una red.
• Aplica técnicas en seguridades de base de datos.
                            </textarea><br>
                            <label>Producto Académico *</label>
                            <input type="text" class="form-control rounded-3" name="producto_academ" id="floatingInput"
                                placeholder="Ingrese la descripción del Producto Académico" required><br>
                            <button class="btn btn-primary" type="submit" name="crear">Guardar</button>
                        </div>
                    </form>
                    {% if msg1 %}
                    <div class="alert alert-success" role="alert">
                        {{ msg1 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-md-stretch">
            <div class="d-flex" id="wrapper">
                <div class="container-fluid">
                    <div class="row align-items-md-stretch">
                        <div class="col-md-6 w-100">
                            <div class="p-5 text-bg-dark rounded-3">
                                <h2 class="title" style="text-align: center;">Unidades</h2><br>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="select">
                                        <label>Titulo*</label>
                                        <input type="text" class="form-control rounded-3" name="nombre_uni"
                                            id="floatingInput" placeholder="Unidad #: Introduccion a la unidad"
                                            required><br>
                                        <label>OBJETIVO *</label>
                                        <textarea class="form-control rounded-3" name="objetivo_uni" id="floatingInput"
                                            placeholder="Ingrese objetivo de la asignatura" required rows="4">
            Comprender mediante los conceptos básicos del desarrollo de aplicaciones en ambiente visual las etiquetas empleadas en HTML5, así como aprender a elaborar
            formularios empleando la estructura HTML5 y django
                                        </textarea><br>
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>Horas de trabajo presencial *</label>
                                                    <input type="number" class="form-control rounded-3"
                                                        name="horas_doce" id="floatingInput"
                                                        placeholder="Ingrese Horario" required><br>
                                                </td>
                                                <td>
                                                    <label>Horas de trabajo independiente *</label>
                                                    <input type="number" class="form-control rounded-3"
                                                        name="horas_pract" id="floatingInput"
                                                        placeholder="Ingrese Horario" required><br>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </form>
                                {% if msg %}
                                <div class="alert alert-success" role="alert">
                                    {{ msg }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-md-stretch">
            <div class="d-flex" id="wrapper">
                <div class="container-fluid">
                    <div class="row align-items-md-stretch">
                        <div class="col-md-6 w-100">
                            <div class="p-5 text-bg-dark rounded-3">
                                <h2 class="title" style="text-align: center;">Productos Acádemicos</h2><br>
                                <!--Carrera-->
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="select">
                                        <label>PRODUCTO ACADÉMICO FINAL DE LA ASIGNATURA *</label>
                                        <input type="text" class="form-control rounded-3" name="producto_final"
                                            id="floatingInput" placeholder="Ingrese nombre de la asignatura" required>
                                        <br>
                                        <label>Objetivo *</label>
                                        <input type="text" class="form-control rounded-3" name="objetivo"
                                            id="floatingInput" placeholder="Ingrese objetivo de la asignatura"
                                            required><br>
                                        <label>Productos Parciales *</label>
                                        <input type="text" class="form-control rounded-3" name="producto_parci"
                                            id="floatingInput" placeholder="Ingrese los aportes teoricos" required><br>
                                        <label>Resultados y Estándares de Presentación *</label>
                                        <input type="text" class="form-control rounded-3" name="resultados_presen"
                                            id="floatingInput" placeholder="Ingrese los objetivos específicos"
                                            required><br>
                                        <label>Integración con otras asignaturas *</label>
                                        <input type="text" class="form-control rounded-3" name="integracion_asigna"
                                            id="floatingInput"
                                            placeholder="Ingrese la descripción del Producto Académico" required><br>
                                        <button class="btn btn-primary" type="submit" name="crear">Guardar</button>
                                    </div>
                                </form>
                                {% if msg %}
                                <div class="alert alert-success" role="alert">
                                    {{ msg }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-md-stretch">
                        <div class="col-md-6 w-100">
                            <div class="p-5 text-bg-dark rounded-3">
                                <ul>
                                    {% for producto in datosProducto %}
                                    <li>{{ producto.producto_final }} - {{ trabajador.objetivo }} - {{
                                        trabajador.producto_parcial
                                        }} {{ producto.presentacion }} - {{producto.integracion}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-md-stretch">
            <div class="d-flex" id="wrapper">
                <div class="container-fluid">
                    <div class="row align-items-md-stretch">
                        <div class="col-md-6 w-100">
                            <div class="p-5 text-bg-dark rounded-3">
                                <h2 class="title" style="text-align: center;">Referencias</h2><br>
                                <!--Carrera-->
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="select">
                                        <label>Tipo de Referencia *</label>
                                        <select class="form-select" name="tipo_referen" aria-label="Default select example">
                                            <option selected>Selecione el Tipo de Referencia</option>
                                            <option value="1">Básica</option>
                                            <option value="2">Complementaria</option>
                                            <option value="2">Sitios web</option>
                                        </select><br>
                                        <label>Número *</label>
                                        <input type="number" class="form-control rounded-3" name="numero_referen" id="floatingInput"
                                            min="0" placeholder="Ingrese la cantidad" required><br>
                                        <label>Títtulo de la obra *</label>
                                        <input type="text" class="form-control rounded-3" name="titulo_obra" id="floatingInput"
                                            placeholder="Ingrese el Nombre del Título de la obra" required><br>
                                        <label>Existencia en Biblioteca *</label>
                                        <input type="text" class="form-control rounded-3" name="existencia_biblioteca"
                                            id="floatingInput"
                                            placeholder="Definir si es Física o Digital(Si no existe ponga 'No existe en la Biblioteca')"
                                            required><br>
                                        <label>Numero de ejemplares*</label>
                                        <input type="number" class="form-control rounded-3" name="numero_ejemplar"
                                            id="floatingInput" min="0" placeholder="Ingrese la cantidad" required><br>
                                        <button class="btn btn-primary" type="submit" name="crear">Guardar</button>
                                    </div>
                                </form>
                                {% if msg %}
                                <div class="alert alert-success" role="alert">
                                    {{ msg }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
{% endblock content %}