{% extends "dashboard.html" %}
{% block content %}
<h1>Malla Curricular - {{ asignatura.nombre_asignatura }}</h1>

<div class="p-2">
    <button class="boton-guayaquil" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#myModal">Añadir</button>
</div>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <div class="form-control p-3">
                            <div class="select">

                                <label for="asignatura">Seleccione una asignatura:</label>
                                <select class="form-select" name="asignatura" id="asignatura"
                                    ria-label="Default select example">
                                    <option selected>Selecione una opcion</option>
                                    {% for controlador in controladores %}
                                    <option value="{{ controlador.id }}">{{ controlador.asignatura.nombre }} - {{
                                        controlador.unidad.nombre }}</option>
                                    {% endfor %}
                                </select><br>
                            </div>
                        </div>
                        <button class="w-100 boton-guayaquil" type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#myModal">
                            Crear
                        </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}