{% extends "dashboard.html" %}
{% block content %}
<div class="d-flex" id="wrapper">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis" href="{% url 'dashboard' %}">
                        <i class="material-icons">home</i>
                        <span class="visually-hidden"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis fw-semibold text-decoration-none"
                        href="{% url 'producto' %}">Producto</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Crear Productos
                </li>
            </ol>
        </nav>
        <div class="row align-items-md-stretch">
            <div class="col-md-6 w-100">
                <div class="p-5 text-bg-dark rounded-3">
                    <h2 class="title" style="text-align: center;">Productos Acádemicos</h2><br>
                    <!--Carrera-->
                    <form method="post">
                        {% csrf_token %}
                        <div class="select">
                            <label>PRODUCTO ACADÉMICO FINAL DE LA ASIGNATURA *</label>
                            <input type="text" class="form-control rounded-3" name="producto_final" id="floatingInput"
                                placeholder="Ingrese nombre de la asignatura" required>
                            <br>
                            <label>Objetivo *</label>
                            <input type="text" class="form-control rounded-3" name="objetivo" id="floatingInput"
                                placeholder="Ingrese objetivo de la asignatura" required><br>
                            <label>Productos Parciales *</label>
                            <input type="text" class="form-control rounded-3" name="producto_parci" id="floatingInput"
                                placeholder="Ingrese los aportes teoricos" required><br>
                            <label>Resultados y Estándares de Presentación *</label>
                            <input type="text" class="form-control rounded-3" name="resultados_presen"
                                id="floatingInput" placeholder="Ingrese los objetivos específicos" required><br>
                            <label>Integración con otras asignaturas *</label>
                            <input type="text" class="form-control rounded-3" name="integracion_asigna"
                                id="floatingInput" placeholder="Ingrese la descripción del Producto Académico"
                                required><br>
                            <button class="btn btn-primary" type="submit" name="crear">Guardar</button>
                        </div>
                    </form>
                    {% if msg %}
                    <div class="alert alert-success" role="alert">
                        {{ msg }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6 w-100">
                <div class="p-5 text-bg-dark rounded-3">
                    <ul>
                        {% for producto in datosProducto %}
                        <li>{{ producto.producto_final }} - {{ trabajador.objetivo }} - {{ trabajador.producto_parcial
                            }} {{ producto.presentacion }} - {{producto.integracion}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}