{% extends "dashboard.html" %}
{% block content %}
<div class="d-flex" id="wrapper">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis" href="{% url 'dashboard' %}">
                        <i class="material-icons">home</i>
                        <span class="visually-hidden"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis fw-semibold text-decoration-none"
                        href="{% url 'unidades' %}">Unidades</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Crear unidades</li>
            </ol>
        </nav>
        <div class="row align-items-md-stretch">
            <div class="col-md-6 w-100">
                <div class="p-5 text-bg-dark rounded-3">
                    <h2 class="title" style="text-align: center;">Unidades</h2><br>
                    <form method="post">
                        {% csrf_token %}
                        <div class="select">
                            <label>Titulo*</label>
                            <input type="text" class="form-control rounded-3" name="nombre_uni" id="floatingInput"
                                placeholder="Unidad #: Introduccion a la unidad" required><br>
                            <label>OBJETIVO *</label>
                            <textarea class="form-control rounded-3" name="objetivo_uni" id="floatingInput"
                                placeholder="Ingrese objetivo de la asignatura" required rows="4">
Comprender mediante los conceptos básicos del desarrollo de aplicaciones en ambiente visual las etiquetas empleadas en HTML5, así como aprender a elaborar
formularios empleando la estructura HTML5 y django
                            </textarea><br>
                            <table>
                                <tr>
                                    <td>
                                        <label>Horas de trabajo presencial *</label>
                                        <input type="number" class="form-control rounded-3" name="horas_doce"
                                            id="floatingInput" placeholder="Ingrese Horario"
                                            required><br>
                                    </td>
                                    <td>
                                        <label>Horas de trabajo independiente *</label>
                                        <input type="number" class="form-control rounded-3" name="horas_pract"
                                            id="floatingInput" placeholder="Ingrese Horario"
                                            required><br>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    {% if msg %}
                    <div class="alert alert-success" role="alert">
                        {{ msg }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}