{% extends "dbs_docente.html" %}
{% block content %}

<div class="d-flex" id="wrapper">
    <div class="container-fluid">
        <h1 class="text-center">Versiones - {{ asignatura.nombre_asignatura }}</h1>
        <div class="row align-items-md-stretch">
            <div class="cardcol-md-6 w-100">
                <div class="p-5 text-bg-dark rounded-3 text-center">
                    <h1 class="text-ºcenter lead"></h1>
                    <br />
                    <table class="small table accordion table-bordered rounded">
                        <thead class="text-lg-center text-white" style="background-color: #274386">
                            <tr>
                                <th class="align-middle align-top">Nombre de version</th>
                                <th class="align-middle align-top">Fecha de creacion</th>
                                <th class="align-middle align-top">Responsable</th>
                                <th class="align-middle align-top">Acciones</th>
                        </thead>
                        <tbody class="texto-pequeño">
                            <td>microcurricular 2022</td>
                            <td>17/08/2022</td>
                            <td>Jordy Fajardo</td>
                            <td>
                                <div class="p-2">
                                    <button class="btn btn-success" type="button" class="btn btn-primary">
                                        <a href="{% url 'docente:pdf' %}">Abrir</a>
                                    </button>
                                    <button class="btn btn-primary" type="button" class="btn btn-primary"
                                        data-bs-toggle="modal" data-bs-target="#myModal">
                                        Editar
                                    </button>
                                    <button class="btn btn-danger" type="submit" name="eliminar">
                                        Eliminar Versio
                                    </button>
                                </div>
                            </td>

                        </tbody>
                    </table>
                    {% if msg %}
                    <div class="alert alert-success" role="alert">{{ msg }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}