{% extends "dbs_docente.html" %} {% block content %}
<div class="d-flex" id="wrapper">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="{% url 'docente:docente' %}">
            <i class="material-icons">home</i>
            <span class="visually-hidden"></span>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a
            class="link-body-emphasis fw-semibold text-decoration-none"
            href="{% url 'docente:versiones' %}"
            >Versiones</a
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Registrar</li>
      </ol>
    </nav>
    <div class="row align-items-md-stretch">
        <div class="d-flex" id="wrapper">
            <div class="container-fluid">
                <div class="row align-items-md-stretch">
                    <div class="col-md-6 w-100">
                        <div class="p-5 text-bg-dark rounded-3">
                            <h2 class="title" style="text-align: center;">Historial de versiones</h2><br>
                            <form method="post">
                                {% csrf_token %}
                                <label for="asignatura">Seleccione version de una asignatura:</label>
                                <select class="form-select" name="asignatura" id="asignatura" ria-label="Default select example">
                                    <option selected>Selecione el periodo</option>
                                        {% for asignatura in asignaturas %}
                                        <option value="{{ asignatura.id }}">{{ asignatura.nombre_asignatura }}</option>
                                        {% endfor %}
                                </select><br>
                                <button class="btn btn-primary" type="submit">Seleccionar</button>
                            </form>
                            {% if msg %}
                            <div class="alert alert-success" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
